.idea
.gradio
.ipynb_checkpoints
.mypy_cache
.vscode
.venv-digilawyer-api/
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
log.txt
Pipfile.lock
env3.*
env/
myenv/
venv/
mlservice/models/
mlservice/vectordb/
data/
database/
.vscode/
data/

logs.log
*.log*
*.log
# vim temporary files
*~
.*.sw?
Footer
*Zone.Identifier
*.png
Dockerfile
*.yml
.files*
qdrant_data/
*.env